static/css/bulma-carousel.min.css
static/css/bulma-slider.min.css
static/css/bulma.css.map.txt
static/images/carousel*.jpg
static/images/favicon.ico
static/js/bulma-carousel*.js
static/js/bulma-slider*.js
static/pdfs/sample.pdf
static/videos/
